<p id="notice"><%= notice %></p>

<p>
	<strong>Frequency:</strong>
	<%= @debit.frequency %>
</p>

<p>
	<strong>Currency:</strong>
	<%= @debit.currency %>
</p>

<p>
	<strong>Remarks:</strong>
	<%= @debit.remarks %>
</p>

<p>
	<strong>Category:</strong>
	<%= link_to @debit.category.category_name, @debit.category %>
</p>

<p>
	<strong>Amount:</strong>
	<%= number_to_currency(@debit.amount, precision: 2) %>
</p>

<p>
	<strong>Created at:</strong>
	<%= @debit.created_at.strftime("%m/%d/%Y") %>
</p>

<p>
	<strong>User:</strong>
	<%= @debit.user_id %>
</p>

<%= link_to 'Edit', edit_debit_path(@debit) %> |
<%= link_to 'Back', debits_path %>
