<header>
	<nav class="navbar navbar-fixed-top navbar-inverse navbar-expand-md navbar-dark bg-dark">
		<div class="container">
			<%# <a class="navbar-brand" href="#">Navbar</a> %>
			<%= link_to "Bottom Line Budgeting", root_path, id: "logo", class: "navbar-brand" %>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
			<%# <ul class="navbar-nav navbar-right me-auto mb-2 mb-lg-0"> %>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item"><%= link_to "Home", root_path, class: "nav-link active"  %></li>
				<li class="nav-item"><%= link_to "Help", help_path, class: "nav-link" %></li>
				<% if logged_in? %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Account
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
							<li><%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %></li>
							<li class="divider"></li>
							<li><%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %></li>
						</ul>
					</li>
				<% else %>
					<li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
				<% end%>
			</ul>
		</div>
	</nav>
</header>
